body {
    background-image: url(asseds/fundo.png.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(60, 60, 60, 0.7);
    background-blend-mode: multiply;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
}

header {
    text-align: center;
    color: white; 
    margin-bottom: 20px;
    font-size: 24px;
}

main {
    background-color: white;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgba(175, 0, 0, 0.842);
    border-radius: 10px;
}


label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(54, 54, 54);
}


input, select {
 
    padding: 8px;
    margin-top: 5px;
    border: 1px solid rgb(92, 91, 91);
    border-radius: 4px;
    box-sizing: border-box; 
}

button {
    background-color: rgba(177, 0, 0, 0.863);
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


button:hover {
    background-color: #e60000;
}


